*
{
    font-family: sans-serif;
    color: #fff;

    box-sizing: border-box;
}

body
{
    background:#222;
}


.header__responsive-ul, .header__responsiveButton-container
{
    display: none;
}

.grid-container
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 92px 1fr 100px;
    grid-auto-rows: 1fr;
}

.ul__li a , i
{
    text-decoration: none;
    color: inherit;
}

.skills__h3-container
{
    text-align: center;
}

.skills__h3
{
    display: inline-block;
    border-bottom: 2px solid #fa111b;
}

.main__aboutMe-container
{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.AnimationCanvas{
    width: inherit;
    height: inherit;
}

.aboutMe__skills
{
    display: flex;
    min-width: 400px;
    justify-content: space-evenly;
    margin-top: 5px;
    flex-wrap: wrap;
}

.aboutMe__whoami{
    margin: 20px;
    padding: 10px;
}

.aboutMe__whoami-container
{
    margin: 30px;
    max-width: 500px;
}

.aboutMe__skills-container, .aboutMe__skills
{
    min-width: 200px;
}

.card__logo
{
    background-color: #333;
    font-size: 20px;
    font-weight: 800;
    color: #262626;
    display: inline-block;
    width: 100px;
    transition: color 0.5s;
}

.card__logo-container
{
    text-align: center;
}

.skills__card
{
    background-color: #262626;
    display: flex;
    flex-flow: column;
    width: 250px;
    min-width: 150px;
    padding: 8px;
    border-bottom: 2px solid #262626;
    transition: border 0.5s;
    margin: 3px;
    z-index: 50;
}

.skills__card:hover
{
    border-bottom: 2px solid #fa111b;
} 

.skills__card:hover .card__logo
{
    color: #fa111b;
}

.card__logo-container, .skills__paragraph-container
{
    text-align: center;
    margin: 5px;
}

.aboutMe__whoami
{
    background-color: #333;
    margin-top: 5px;
}


.whoami__h3
{
    display: inline-block;
    border-bottom: #fa111b 2px solid;
}

.main__aboutMe-item
{
    margin: 5px;
}

.whoami__h3-container
{
    text-align: center;
}

.whoami__paragraph
{
    text-align: justify;
    padding: 10px;
}

.header
{
    grid-column: 1/4;
    color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center; /*space-between when i create more projects*/
    background-color: #333333e2;
    flex-wrap: wrap;
    z-index: 100;
}

.presentation__img-container
{
    width: 100%;
    height: 300px;
}

.presentation__title-container
{
    padding: 5px 0;
    /*display: flex;
    flex-flow: row;
    justify-content: center;*/
    text-align: center;
}

.presentation__title
{
    font-family: "Big Shoulders Inline Display";
    font-size: 45px;
    color: #fa111b;
}

.presentation__img
{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.header strong
{
    color: #fa111b;
}

.header__h1-container
{
    font-size: 15px;
}

.header__ul
{
    display: none;
    align-self: flex-end;
    margin-right: 20px;
}

.ul__li
{
     list-style-type: none;
    color: currentColor;
    transition: color 0.5s;
}

.ul__li:hover
{
    color: #fa111b;
    cursor: pointer;
}

.ul__li:focus
{
    color:#fa111b;
}

.header__li-container
{
    display: flex;
    width: 500px;
    padding-bottom: 10px;
    justify-content: space-between;
}

.main
{
    grid-column: 1/4;
    grid-row: 2/3;
}

.footer
{
    display: flex;
}

.footer__paragraph-container
{
    margin: auto;
    text-align: center;
    /* background-color: rgba(51, 51, 51, 0.527); */
}

.flex-container
{
    display: flex;
    justify-content: space-evenly;
}

.main__createdProjects-container
{
    margin: 30px;
}

.createdProjects__contents-container
{
    margin-top: 10px;
}
.createdProjects__h2-container
{
    text-align: center;
}

.createdProjects__h2
{
    display: inline;
    animation: createdProjectsH2Anim 3s alternate infinite;
}

.createdProjects__h2::after
{
    content: "";
    animation: createdProjectsH2Anim 3s alternate infinite;
}

.createdProjects__chargingBar-container
{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createdProjects__chargingBar
{
    width: 200px;
    height: 20px;
    border: #fa111b 1px solid;
    padding: 2px;
}

.chargingBar__porcentage
{
    background-color: #fa111b;
    width: 0%;
    height: 100%;
}

.createdProjects__chargingBar:hover
{
    animation: Shaking 0.5s alternate-reverse infinite;
}

.createdProjects__paragraph-container
{
    text-align: center;
    background-color: #333;
    margin: 0 40px;
    padding: 35px;
}

.createdProjects__h3
{
    display:table;
    margin: auto;

    border-bottom: 2px solid #fa111b;
}

.main__contacts-container
{
    display: flex;
    flex-flow: column;
    align-content: center;
    margin-bottom: 5px;
}

.contacts__h3-container
{
    text-align: center;
}

.contacts__h3
{
    display: inline-block;
    border-bottom: 2px solid #fa111b;
}

.contacts__cards-container
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contacts__card-items
{
    width: 300px;
    min-width: 150px;
    margin: 5px;
    background-color: #262626;
    text-align: center;
    height: 300px;
    border-bottom: #262626 6px solid;
    transition: border 0.5s;
    z-index: 50;
}

.contacts__card-items:hover
{
    border-bottom: #fa111b 6px solid;
}

.contacts__card-items:hover .contacts__card-logo
{
    color: #fa111b;
}

.contacts__card-logo
{
    font-size: 40px;
    color: #444;
    transition: color 0.5s;
}

@keyframes createdProjectsH2Anim
{
    0%
    {
        color: #fa111b;
        content: "";
    }

    25%
    {
        content:".";
    }

    50%
    {
        color: rgb(172, 16, 47);
        content: "..";
    }

    100%
    {
        color: rgb(247, 56, 94);
        content: "...";
    }
}

@keyframes Shaking
{
    0%
    {
        transform: translateY(0);
        transform: translateX(0);
    }
    15%
    {
        transform: translateY(1px);
        transform: translateX(1px);
    }
    25%
    {
        transform: translateX(-1px);
    }
    50%
    {
        transform: translateY(2px);
    }
    75%
    {
        transform: translateX(3px);
    }
    100%
    {
        transform: translateY(0);
        transform: translateX(0);
    }
}

@media screen and (max-width: 530px)
{
    .header__ul
    {
        display: none;
    }
    .grid-container
    {
        grid-template-rows: 100px 1fr 100px;
    }

    .header
    {
        justify-content: center;
        align-content: center;
    }

    .skills__card, .contacts__card-items
    {
        transform: scale(0.8);
    }

    .header__h1-container
    {
        font-size: smaller;
        text-align: center;
    }

    .presentation__title
    {
        font-family: "Big Shoulders Inline Display";
        font-size: 30px;
        color: #fa111b;
    }
}